__pycache__/allosteric_analyzer.cpython-311.pyc
manuscript_outline.md
analyze_a2a.output
3vg9.pdb
__pycache__/allosteric_analyzer.cpython-311.pyc
__pycache__/ProteinStructureNetwork.cpython-311.pyc
__pycache__/allosteric_analyzer.cpython-311.pyc
attention_data/sensitive_attention_maps.pt
attention_data/sensitive_heads.pt
__pycache__/allosteric_analyzer.cpython-311.pyc
